// colors
$accentColor = #91ba3f
$textColor = #34495e
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$warnColor = #ffe66b
$dangerColor = #fa6b5a

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 15rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
