@require './config.styl'

.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #f3f5f7
    border-color $accentColor
  &.warning
    background-color rgba($warnColor, 20%)
    border-color darken($warnColor, 35%)
    color darken($warnColor, 70%)  // #ffe564
    .custom-block-title
      color darken($warnColor, 50%)
    a
      color $textColor
  &.danger
    background-color rgba($dangerColor, 15%)
    border-color $dangerColor
    color darken($dangerColor, 70%)
    .custom-block-title
      color darken($dangerColor, 40%)
    a
      color $textColor
