[run]
branch = True
source = bocadillo

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if debug:
ignore_errors = True
omit =
    setup.py
    tests/*
