# Caches
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/

# Packaging
*.egg-info

# Dependencies
node_modules/

# Build
docs/.vuepress/dist

# Private
.env

# Development
debug/
.coverage
out/

# Databases
*.sqlite3*
*.db
