[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
parse = "*"
asgiref = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"

[requires]
python_version = "3.7"
