[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bocadillo = {editable = true,extras = ["files","sessions"],path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
bumpversion = "*"
pre-commit = "*"
pydoc-markdown = "<2.0.5"
pylint = "*"
mypy = "*"
rope = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
