[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bocadillo = {editable = true,extras = ["files"],path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
bumpversion = "*"
pre-commit = "*"
pydoc-markdown = "*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
