$accentColor = #91ba3f
$textColor = #34495e
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$warnColor = darken(saturation(#ffe66b, 150), 25)
$dangerColor = #fa6b5a
$sidebarWidth = 15rem
