// See: https://alligator.io/vuejs/vuepress-introduction/#custom-themes
$accentColor = #91ba3f
$textColor = #34495e
$borderColor = #eaecef
$codeBgColor = #282c34

.wrapper {
  padding: 1em 2rem 0 2rem;
  max-width: 740px;
  margin: 0 auto;
}
