@require './override.styl';

.wrapper {
  padding: 1em 2rem 0 2rem;
  max-width: 740px;
  margin: 0 auto;
}

.content:not(.custom) > *:first-child {
  margin-top: 0 !important;
}

.tip {
  border-color: $accentColor !important;
  &.badge {
    background-color: $accentColor !important;
  }
}

.danger {
  border-color: $dangerColor !important;
  &.badge {
    background-color: $dangerColor !important;
  }
  &.custom-block {
    background-color: rgba($dangerColor, 0.2) !important;
  }
}

.warning {
  border-color: $warnColor !important;
  &.badge {
    background-color: $warnColor !important;
  }
  &.custom-block {
    background-color: rgba($warnColor, 0.15) !important;
  }
}

ul.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
